/* main content styles */

body {
  font-size: 16px;
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: Georgia, serif;
  color: #3a3b3a;
  font-weight: 500;
}

a {
  color: #019483;
}

a:focus, a:hover {
  color: #004840;
}

.breadcrumb * a {
  color: #019483;
}

.btn-primary {
  background-color: #019483;
  border-color: #019483;
  font-weight: 600;
}

.btn-primary:hover, .btn-primary:active:hover, .btn-primary:active:focus {
  background-color: #004840;
  border-color: #019483;
  font-weight: 600;
}

.btn-secondary {
  background-color: #ffffff;
  border-color: #019483;
  color: #019483;
  }

.btn-secondary:hover {
  background-color: #ffffff;
  border-color: #004840;
  color: #004840;
  }

/*Search results pages*/

.pagination>.active>a {
  background-color: #019483;
  border-color: #019483;
  color: white;
}

.pagination>li>a, .pagination>li>span {
  color: #019483;
}

.pagination>li>a:hover {
  color: #004840;
}

.identifier .id-label, .component, .record-type-badge, .inline-label  {
  font-family: Georgia, serif;
}

.recordrow {
  padding: 1rem;
  border-radius: 4px;
  margin-bottom: 1rem;
  background-color: #fbfbfb;
}

.more-facets .btn, .less .btn {
  color: #019483;
}

/*Related to changing body background color*/

.tabbing.navbar-default {
  background-color: #f2f2f2;
  border-color: #f2f2f2;
}

.panel-default>.panel-heading {
  background-color: #fbfbfb;
}

/* Collection View - changing colors and adjusting spacing */

.page_action {
  color: #019483;
}

.page_action:hover {
  color: #004840;
}

.tabbing.nav-pills>li>a {
  color: #ffffff;
  background-color: #019483;
  margin-left: 0px;
}

.tabbing.nav-pills>li>a.active, .tabbing.nav-pills>li.disabled>a.active, .tabbing.nav-pills>li.disabled>a.active:hover, .tabbing.nav-pills>li>a.active:hover {
  color: #ffffff;
  background-color: #004840;
  opacity: 1;
  cursor: pointer !important;
}

.tabbing.nav-pills>li>a:hover {
  background-color: #004840;
  opacity: .8;
  cursor: pointer !important;
}

.nav>li.disabled>a, .nav>li.disabled>a:hover, .nav>li.disabled>a:focus {
  background-color: #004840;
  opacity: .4;
}

.acc_button, .panel-group .panel{
  margin-bottom: .625rem;
}

.acc_holder, .subnote {
  margin-right: 25px;
}

/* Header + Nav Bar */

.navbar-default .navbar-nav>li>a {
  color: #ffffff;
  font-weight: 600;
  text-align: center;
  background-color: rgba(0,0,0,0);
  transition: background-color 0.5s ease;
  padding: 15px 25px;
}

.navbar-default .navbar-nav>li>a:hover {
  text-decoration: none;
  background-color: #35CCB9;
  color: #ffffff;
}

.navbar {
  border-style: none;
}

.top-bar{
  background-color: #189485 !important;
  border: 0px;
  display: flex;
}

@media only screen and (min-width: 768px) {
  .top-bar {
    justify-content: space-evenly;
  }
  .mobile-only-item {
    display: none;
  }
}

#header {
  background: -webkit-linear-gradient(rgba(32, 66, 59, 1), rgba(119, 151, 145, 1));
  background: -o-linear-gradient(rgba(32, 66, 59, 1), rgba(119, 151, 145, 1));
  background: linear-gradient(rgba(32, 66, 59, 1), rgba(119, 151, 145, 1));
  height: auto !important;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-bottom: 0px !important;
  border-top: 0px !important;
}


#header .h1, #header .h1 a {
  font-size: 2.5rem;
  color: #ffffff;
}


#header .h1 a:hover {
  color: #F2F2F2;
  text-decoration: none;
}

#header .logo {
  height: 85px;
  margin-top: 20px;
  margin-bottom: 10px;
  float: none;
}

#header>.row {
  border-bottom-style: none;
  height: auto;
}

/* mobile only */

.navbar-toggle {
  border-color: white;
  height: 34px;
  float: right;
  position: static;
  margin-left: 50px;
}


.mobile-only-item>a {
  color: #BFEFFF;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: #ffffff;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: #004840;
}

.nav>li.disabled>a:hover, .nav>li.disabled>a:focus {
  cursor: pointer !important;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
  border-style: none;
}

.container>.navbar-header, .container>.navbar-collapse, .container-fluid>.navbar-header, .container-fluid>.navbar-collapse {
    margin-right: -15px;
    margin-left: -15px;
}

/* Footer Styles */

#barnard-footer, #barnard-footer a {
  color: white;
  font-size: 16px;
}

#barnard-footer a:hover {
  text-decoration: underline;
}

#barnard-footer h2 {
  font-size: 32px;
  color: #f4e482;
}

#barnard-footer h3 {
  font-size: 20px;
  color: #f4e482;
}

.footer-list li {
  margin-top: 16px;
}

.footer-list {
  list-style: none;
  padding: 0;
}

#barnard-footer{
  background: -webkit-linear-gradient(rgba(58,59,58,.8), rgba(58,59,58,.8)),
  url(http://testcollections.barnard.edu/public/assets/barnard_footerbg.jpg);
  background: -o-linear-gradient(rgba(58,59,58,.8), rgba(58,59,58,.8)),
  url(http://testcollections.barnard.edu/public/assets/barnard_footerbg.jpg);
  background: linear-gradient(rgba(58,59,58,.8), rgba(58,59,58,.8)),
  url(http://testcollections.barnard.edu/public/assets/barnard_footerbg.jpg);
  background-size: cover;
  margin-top: 3em;
  width: 100%;
}

#barnard-footer > .row {
  padding: 0 4em;
}

#copyright {
  text-align: center;
  margin: 10px 0;
}

#footerlogo {
  margin: 15px auto;
  display: block;
  width: 218px;
}

/* Advanced Search - fixing sizing on chrome */

#from_year0, #to_year0 {
  min-width: 88px;
}
