<footer class="container-fluid" id="barnard-footer">
  <div class="row">
    <a href="http://www.barnard.edu"><img id="logo" src="http://testcollections.barnard.edu/public/assets/barnard-logo" alt="logo, Barnard College Columbia University"></a>


  </div>

  <div class="row">
    <div class="col-md-1">&nbsp;</div>

		<div class="col-md-5">
		<h2>Barnard Library and Information Services (BLAIS)</h2>
				<p>at the Milstien Center for Teaching and Learning<br />
				<br />
				<a href="mailto:library@barnard.edu">library@barnard.edu</a> | 212-854-3953
        </p>
		</div>
		<div class="col-md-2">
			<h3>Departments</h3><br />
        <ul class="footer-list">
				    <li><a href="https://library.barnard.edu">Library</a></li>
				    <li><a href="https://imats.barnard.edu">IMATS</a></li>
				    <li><a href="https://archives.barnard.edu">Archives</a></li>
				    <li><a href="https://zines.barnard.edu">Zines</a></li>
        </ul>
		</div>

		<div class="visible-xs visible-sm"><br />
			&nbsp;</div>

		<div class="col-md-3">
			<h3>Teaching &amp; Learning Centers</h3><br />
        <ul class="footer-list">
				    <li><a href="https://cep.barnard.edu">Center for Engaged Pedagogy</a></li>
				    <li><a href="https://design.barnard.edu">Design Center</a></li>
				    <li><a href="https://digitalhumanities.barnard.edu">Digital Humanities</a></li>
				    <li><a href="https://erc.barnard.edu">Empirical Reasoning Center</a></li>
				    <li><a href="https://movement.barnard.edu">Movement Lab</a>
				    <li><a href="https://mediacenter.barnard.edu">Sloate Media Center</a></li>
				    <li><a href="https://csc.barnard.edu">Vagelos Computational Science Center</a></li>
        </ul>
		</div>
    </div>
    <div class="row">
      <p id="copyright">Copyright 2019; <a href="https://www.barnard.edu">Barnard College</a> | <a href="https://www.columbia.edu"> Columbia University</a></p>
    </div>
     <!--
     Classic ArchivesSpace Footer; can uncomment or modify if we want to appear at bottom of our page
     <div class="col-md-12">
       <p class="footer-items"><a href="<%= AppConfig[:frontend_proxy_url] %>">Staff Interface</a>
         | Visit <a href="http://archivesspace.org">ArchivesSpace.org</a>
         | <%= ASConstants.VERSION %>
         | <% if AppConfig[:feedback_url] && !AppConfig[:feedback_url].blank? %><a id='aspaceFeedbackLink' href='<%= AppConfig[:feedback_url]%>' target='_blank'>Send Feedback or Report a Problem</a><% end %></p>
     </div> -->
</footer>
