<footer class="container-fluid" id="barnard-footer">
  <div class="row">
    <a href="https://www.barnard.edu"><img id="footerlogo" src="<%= asset_url(AppConfig[:pui_footer_img]) %>" alt="logo, Barnard College Archives"></a>
    <p id="milstein">at the Milstein Center for Teaching and Learning</p>
    <p id="address">Milstein 423 | 3009 Broadway, New York, NY 10027</p>
</div>
    <div class="row">
      <p id="copyright">Copyright 2019-2020; <a href="https://www.barnard.edu">Barnard College</a> | <a href="https://www.columbia.edu"> Columbia University</a></p>
    </div>
</footer>
