<section  id="header">
  <div class="row">
    <div class="col-sm-9 h1">
        <a title="<%=t('brand.title_link_text') %>" href="<%= AppConfig[:public_proxy_url] %>"> <%= t('brand.title') %></a>
	</div>
    <div class="col-sm-3 hidden-xs"><a href="https://archives.barnard.edu"><img class="logo" src="<%= asset_url(AppConfig[:pui_branding_img]) %>" alt="Barnard Archives" /></a></div>
  </div>
</section>
